<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>3 Col Portfolio - Start Bootstrap Template</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    <div id='app'>
      <!-- Navigation -->
      <div class="navbar bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Livecode 1</a>
          <div class="header-right">
            <div v-if='!isLogin'>
              <input type="text" placeholder="email" v-model='email'>
              <input type="password" placeholder="password" v-model='password'>
              <button v-on:click='login()'>Login</button>
            </div>
            <div v-else>
              <button v-on:click='logout()'>Logout</button>
            </div>
            <div v-if='notice.length > 0' style="color: red; text-align: right">{{ notice }}</div>
            <div v-else style="color: transparent">placeholder</div>
          </div>
        </div>
      </div>
      <br />
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-3" v-if='isLogin'>
            <h4>Add new Event</h4>
            <div class="list-group">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Event" v-model='event'>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Location" v-model='location'>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Address" v-model='address'>
              </div>
              <button class="btn" v-on:click='createEvent()'>Submit</button>
              <div v-if='eventNotice.length > 0' style="color: red; text-align: center">{{ eventNotice }}</div>
              <div v-else style="color: transparent">placeholder</div>
            </div>
            <hr>
            <h4>Search</h4>
            <div class="list-group">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." v-model='keyword'>
              </div>
              <button class="btn btn-default" v-on:click='search()'>Submit</button>
            </div>
            <hr>
            <h4>Maps</h4>
            <div id='map'>{{ map }}</div>
          </div>
          <div v-else class="col-lg-3"></div>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-4 col-sm-6 portfolio-item" v-for='event in eventList'>
                <div class="card h-70">
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">{{ event.name }}</a>
                    </h4>
                    <div>{{ event.location }}</div>
                    <div>{{ event.address }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->

      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
      </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-_4BGxBeMuyPyfI_kgmz4YsfpwgjkXNA"></script>
  </body>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        isLogin: false,
        email: '',
        password: '',
        notice: '',
        event: '',
        location: '',
        address: '',
        eventNotice: '',
        eventList: [],
        map: {},
        keyword: ''
      },
      methods: {
        login() {
          axios({
            url: 'http://localhost:3000/users/login',
            method: 'post',
            data: {
              email: this.email,
              password: this.password
            }
          })
          .then(data => {
            localStorage.setItem('access_token', data.data.token)
            this.isLogin = true
            this.notice = ''
            this.email = ''
            this.password = ''
          })
          .catch(err => {
            this.notice = err.response.data.message
          })
        },
        logout() {
          localStorage.clear()
          this.isLogin = false
        },
        createEvent() {
          if (this.event.length === 0) {
            this.eventNotice = 'Please input an event name'
          } else if (this.location.length === 0) {
            this.eventNotice = 'Please input the location'
          } else if (this.address.length === 0) {
            this.eventNotice = 'Please input the address'
          } else {
            axios({
              url: 'http://localhost:3000/events',
              method: 'post',
              headers: {
                access_token: localStorage.getItem('access_token')
              },
              data: {
                name: this.event,
                location: this.location,
                address: this.address
              }
            })
            .then(data => {
              this.event = '',
              this.location = '',
              this.address = '',
              this.getEvents()
            })
            .catch(err => {
              console.log(err)
            })
          }
        },
        getEvents: function () {
          axios({
            url: 'http://localhost:3000/events',
          })
          .then(data => {
            this.eventList = data.data
          })
          .catch(err => {
            console.log(err)
          })
        },
        search: function () {
          if (this.keyword.length > 0) {
            axios({
              url: `http://localhost:3000/events/search/${this.keyword}`,
              headers: {
                access_token: localStorage.getItem('access_token')
              }
            })
            .then(data => {
              this.eventList = data.data
            })
            .catch(err => {
              console.log(err)
            })
          } else {
            this.getEvents()
          }
        },
        getMap: function () {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
          });
          this.map = map
        }
      },
      created() {
        this.getEvents()
        this.getMap()
      }
    })
  </script>
</html>
